*{
  margin: 0;
  padding: 0;
}
.App{
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
  width: 90%;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  /* padding-left: 12%; */
}
.todo-logo{
  color: #3f802e;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
}
.super-container{
  display: flex;
  flex-direction: row;
  margin-inline: auto;
}
.container {
  border-radius: 8px;
  text-align: center;
  background-color: #ffffff;
}
.modal-window {
  background: #fff;
  padding: 20px;
  margin-right: 5px;
  width: 20vw;
  border-radius: 5px;
  font-family: sans-serif;
  top: 50px;
  border: #3f802e solid 5px;
}
.todo {
  text-align: center;
}
#tasks {
  padding-top: 5px;
  margin: 0;
  width: 30vw;
}

.task-list{
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  background-color:#AAEA9A;
  margin: 5px;
  border-radius: 8px;
  list-style: none;
}
.completed{
  text-align: center;
  align-items: center;
  border-radius: 8px;
}
.text-center{
  margin-bottom: 1px;
}

#tasks2{
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  width: 30vw;
}
p{
  background-color: white;
  margin: 0.5rem;
}
.modal-btn {
  background: #d41818;
  border: none;
  color: #fff;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 3px;
  text-decoration: none;
}
.add-btn{
  background-color: #3f802e;
  padding: 10px 15px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
}
.btn-delete{
  background-color: #d41818;
  margin-bottom: 0px;
  color: white;

}
.title-text{
  font-size: 25px;
  text-transform: capitalize;
  font-weight: bolder;
  margin-bottom: 0;
}
.tasks-title{
  color: #3f802e;
}
.modal-title{
  color: #3f802e;
  font-weight: bolder;
  font-size: large;

  }
  #msg {
    color: #d41818;
  }
  .msg{
    color: #d41818;
  }
  .tasks-title{
    color: #3f802e;
  }
  #tasks div .options {
    justify-self: center;
    display: flex;
    gap: 20px;
  }
  .date-text{
    font-size: large;;
    margin-top: 20px;
  }
  .checkbox{
    background-color: #2196F3;
  }
  @media (min-width: 480px) {
    .modal-window {
      background: #fff;
      padding: 20px;
      margin-right: 5px;
      width: 20vw;
      border-radius: 5px;
      font-family: sans-serif;
      top: 50px;
      border: #3f802e solid 5px;
    }
    #descriptionArea {
      width: 100%;
    }
    #textInput{
      width: 100%;
    }
    #dataInput{
      width: 100%;
    }
  }
    